@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url('https://fonts.googleapis.com/css?family=Coda');

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Coda', cursive;
  font-size: 100%;
  background: linear-gradient(0deg, #ff0000, #fff67c);
background-size: 400% 400%;
  color: white;
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  position: relative;
}
.shift-text {
  margin: 80px auto 110px; }
  .shift-text .text-body {
    height: 120px; }
  .shift-text .tagline {
    opacity: 0.9; }
.text {
    font-size: 3em;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 260px;
}
.typingarea {
    padding-top: 20px;
}
hr.styled {
  border-top: 4px solid #FFFFFF;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}









































.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
